{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  {% include "@mysub/section/navigation.twig" %}

  <main class="pt-5 pb-5">
    {% include "@mysub/section/header.twig" %}

    {% include "@mysub/section/content.twig" %}
  </main>

    {% include "@mysub/section/footer.twig" %}
</div>
