{% if page.footer %}
  <footer class="page__footer">
    <div class="container">
      <div class="d-flex justify-content-md-between align-items-md-center">
        {{ page.footer }}
      </div>
    </div>
  </footer>
{% endif %}
