{% embed '@bootstrap_storybook/navbar/navbar.twig' with {
  container: 'fixed',
  color: 'light',
  utility_classes: ['bg-light'],
} %}

  {% block branding %}
    {% if page.navbar_branding %}
      {{ page.navbar_branding }}
    {% endif %}
  {% endblock %}

  {% block left %}
    {% if page.navbar_left %}
      <div class="mr-auto">
        {{ page.navbar_left }}
      </div>
    {% endif %}
  {% endblock %}

  {% block right %}
    {% if page.navbar_right %}
      {{ page.navbar_right }}
    {% endif %}
  {% endblock %}
{% endembed %}
